.question-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.question-card h3 {
  width: 90%;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 2px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.question-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  margin-right: auto;
}

.counts {
  display: flex;
}

.counts p {
  margin-left: 10px;

}
